body {
  background: #88bee2;
}

.container {
  max-width: 400px;
}

h1 {
  font-size: 2.2rem;
}

img { 
  position: relative;
  top: -280px;
  left: 80px;
}

.city-card {
  position: relative;
  top: 280px;
  right: 80px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #7db4da;
}

.weather-details {
  position: relative;
  top: 100px;
}

.time-icon {
  position: relative;
  top: -330px;
  left: 60px;
  border-radius: 50%;
  width: 100px;
}

.icon {
  position: static;
}
